@keyframes blink {
  10% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(0.2);
  }
  40% {
    transform: scaleY(1);
  }
}

@keyframes rabbit-animation {
  0% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(-10px);
  }
}