@mixin wall-bg {
  background-image: linear-gradient(
    50deg,
    #a55c3a 10%,
    #c26b43 10%,
    #c26b43 20%,
    #a55c3a 20%,
    #a55c3a 30%,
    #c26b43 30%,
    #c26b43 40%,
    #a55c3a 40%,
    #a55c3a 50%,
    #c26b43 50%,
    #c26b43 60%,
    #a55c3a 60%,
    #a55c3a 70%,
    #c26b43 70%,
    #c26b43 80%,
    #a55c3a 80%,
    #a55c3a 90%,
    #c26b43 90%
  );
}

@mixin shadow($inner) {
  $shadow-value: 
    rgba(50, 50, 93, 0.25) 10px 5px 12px -5px,
    rgba(50, 50, 93, 0.25) -10px 5px 12px -5px,
    rgba(0, 0, 0, 0.3) 5px 5px 10px -7px,
    rgba(0, 0, 0, 0.3) -5px 5px 10px -7px
  ;

  @if $inner == "simple" {
    box-shadow: 
      $shadow-value
    ;  
  } 
  @if $inner == "inner" {
    box-shadow: 
      $shadow-value, 
      rgba(0, 0, 0, 0.35) -10px 0px 40px -8px inset
    ;
  }
}

@mixin eye($side: l) {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 18px;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
  @if $side == l {
    left: 25px;
  } @else if $side == r {
    right: 25px;
  }
}

@mixin rabbit-container($height) {
  width: 80px;
  height: $height;
}

@mixin wall-container($width, $height) {
  width: $width;
  height: $height;  
}
