extends components/template.pug 

block content
  main.container 
    .layer.layer__1
    .layer.layer__2
    .layer.layer__3
    .layer.layer__4
    .layer.layer__5
    .layer.layer__6
    .layer.layer__7
    .layer.layer__8
    .layer.layer__9
    .layer.layer__10