extends components/template.pug 

block content
  ul 
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
    li #[input(type="checkbox")] #[div.shield]
  h3.score Puntaje: 